@model TodoWebApp.Models.TodoViewModels.AddTodoViewModel

<!DOCTYPE html>

<html>
<head>
    <title>Add student</title>
</head>
<body>
    <div>
        <form asp-action="Add" method="post">
            Todo Text: <input asp-for="Text" /> <span asp-validation-for="Text"></span> <br />
            <input type="submit" />
        </form>
    </div>
    <a asp-controller="Todo" asp-action="Index">Go to todos list...</a>
</body>
</html>