@model List<TodoModel.TodoItem>
<html>
<head>

</head>
<body>
    <div>
        <br />
        <a asp-action="Add">Add new todo</a>
        <table>
            @foreach (var todo in Model)
            {
                <tr>
                    <td>
                        <h2>@todo.Text</h2>
                        <div>@todo.DateCreated.ToString("dd. MMMM yyyy.")</div>
                        <hr />
                    </td>
                </tr>
            }
        </table>
        <a asp-controller="Todo" asp-action="Index">Go to todos list...</a>
    </div>
</body>
</html>
