@model List<TodoModel.TodoItem>
<html>
<head>

</head>
<body>
    <div>
        <br/>
        <a asp-action="Add">Add new todo</a>
        <a asp-action="Completed">See completed todos</a>
        <table>
            @foreach (var todo in Model)
            {
                <tr>
                    <td>
                        <h2>@todo.Text</h2>
                        <div>@todo.DateCreated.ToString("dd. MMMM yyyy.")</div>
                        <br/>
                        <div>
                            <a href=@Url.Action("Completed", "Todo", new { id = todo.Id })>mark as completed</a>
                        </div>
                        <hr/>
                    </td>
                </tr>
            }
        </table>
    </div>
</body>
</html>